[submodule ".vim/bundle/NERDtree.git"]
	path = .vim/bundle/NERDtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/easymotion.git"]
	path = .vim/bundle/easymotion.git
	url = https://github.com/easymotion/vim-easymotion
[submodule ".vim/bundle/ack.git"]
	path = .vim/bundle/ack.git
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/ctrlp.git"]
	path = .vim/bundle/ctrlp.git
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/autoformat.git"]
	path = .vim/bundle/autoformat.git
	url = https://github.com/Chiel92/vim-autoformat.git
